# Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.angular/cache/

# PHP / Backend
/backend/config/config.php
/backend/vendor/

# Base de dados
*.sql.bak
*.sql.dump

# Ambiente
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/settings.json
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*
